.dark {
    --bg-primary: #2d3436;
    --bg-secondary: #34495e;
    --text-primary: #bdc3c7;
}

.light {
    --bg-primary: #ecf0f1;
    --bg-secondary: #bdc3c7;
    --text-primary: #000;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

a {
    text-decoration: none;
    color: inherit;
}